.breadcrumbs{
  display: flex;
  margin-bottom: 100px;
  a{
    font-family: 'Proxima Nova',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #7B7781;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 8px;

    &:after{
      content: '//';
    }
    &:last-child{
      &:after{
        content: '';
      }
    }
  }
}