@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Semibold.ttf") format('ttf'),
  url("../fonts/ProximaNova-Semibold.woff2") format('woff2'),
  url("../fonts/ProximaNova-Semibold.woff") format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.ttf") format('ttf'),
  url("../fonts/ProximaNova-Regular.woff2") format('woff2'),
  url("../fonts/ProximaNova-Regular.woff") format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Bold.ttf") format('ttf'),
  url("../fonts/ProximaNova-Bold.woff") format('woff'),
  url("../fonts/ProximaNova-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}