@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Semibold.ttf") format('ttf'),
  url("../fonts/ProximaNova-Semibold.woff2") format('woff2'),
  url("../fonts/ProximaNova-Semibold.woff") format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.ttf") format('ttf'),
  url("../fonts/ProximaNova-Regular.woff2") format('woff2'),
  url("../fonts/ProximaNova-Regular.woff") format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Bold.ttf") format('ttf'),
  url("../fonts/ProximaNova-Bold.woff") format('woff'),
  url("../fonts/ProximaNova-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}

body{
  font-family: 'Proxima Nova',sans-serif;
  font-weight: normal;
}
h2{

}
h2.title_section{
  font-family: 'Proxima Nova',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 40px;
}

.phone{
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'Proxima Nova',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

}

*{
  text-transform: none;
}